<section class="hero" id="home__hero">
  <div class="caption">
    <div class="title">Hello, world!</div>
    <div class="subtitle">往后余生, 风雪是你, 平淡是你, 清贫也是你, 荣华是你, 心底温柔是你, 目光所致, 也是你</div>
  </div>
</section>